
<!DOCTYPE html>
<html><head><link rel="stylesheet" href="/css/style.css"></head>
<body class="neon">
<h1>WELCOME, <%= user.login %></h1>
<nav>
<a href="/role1">Role 1</a>
<a href="/role2">Role 2</a>
<a href="/role34">Role 3/4</a>
<a href="/logout">Logout</a>
</nav>
</body></html>
