
<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="/css/style.css"></head>
<body class="center neon">
<h1>⚡ GODMODE LOGIN ⚡</h1>
<form method="post">
<input name="login" placeholder="login"><br>
<input name="password" type="password" placeholder="password"><br>
<button>ENTER</button>
</form>
<p>viewer / editor / admin / god (password 123)</p>
</body></html>
